---
layout: default
---

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-7 hero-content">
        <div class="hero-main-copy">
          <div class="hero-copy">
            <img width="226" src="images/home/simple.png" alt="">
            <h1>La forma <br>de administrar tu negocio.</h1>
          </div>
          <p class="body-xl-color">El sistema de punto de venta más sobresaliente del mercado, con el mejor precio, experiencia y facilidad de uso.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-wrapper">
  <div class="container">
    <div class="our-clients-container">
      <div class="our-clients text-center">
        <h4 class="unmargin-bottom">Algunos de Nuestros Clientes</h4>
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.grupobimbo.com/es" class="padding-lv1-full display-block"><img src="images/home/client-logos/bimbo.png" width="62" alt=""></a></li>
          <li><a target="_blank" href="https://www.elglobo.com.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/el-globo.png" width="55" alt=""></a></li>
          <li><a target="_blank" href="https://www.lumen.com.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/bitmap.png" width="90" alt=""></a></li>
          <li><a target="_blank" href="http://puntadelcielo.com.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/cafe-punta-del-cielo.png" width="86" alt=""></a></li>
          <li><a target="_blank" href="http://telmex.com/" class="padding-lv1-full display-block"><img src="images/home/client-logos/telmex.png" width="65" alt=""></a></li>
          <li><a target="_blank" href="https://www.gmodelo.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/grupo-modelo.png" width="50" alt=""></a></li>
          <li><a target="_blank" href="http://wtcmexico.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/wtc.png" width="90" alt=""></a></li>
          <li><a target="_blank" href="http://playtex.com.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/playtex.png" width="75" alt=""></a></li>
          <li><a target="_blank" href="http://www.klyns.mx/" class="padding-lv1-full display-block"><img src="images/home/client-logos/klyns.png" width="75" alt=""></a></li>
          <li><a target="_blank" href="http://www.pasteskikos.com/" class="padding-lv1-full display-block"><img src="images/home/client-logos/pastes.png" width="60" alt=""></a></li>
          <li><a target="_blank" href="https://pollopepe.com/" class="padding-lv1-full display-block"><img src="images/home/client-logos/pollopepe.png" width="50" alt=""></a></li>
        </ul>
      </div>
      <div class="news text-center">
        <div id="carousel-news" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-news" data-slide-to="1"></li>
            <li data-target="#carousel-news" data-slide-to="2"></li>
            <li data-target="#carousel-news" data-slide-to="3"></li>
            <li data-target="#carousel-news" data-slide-to="4"></li>
            <li data-target="#carousel-news" data-slide-to="5"></li>
            <li data-target="#carousel-news" data-slide-to="6"></li>
            <li data-target="#carousel-news" data-slide-to="7"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              La licencia de MyCFDI 3.3 tiene un costo de $2,320.00 y aplica para licencias nuevas y anteriores. <a href="mailto:FacturacionElectronica@MyBusinessPOS.com">Más información...</a>
            </div>
            <div class="item">
              Las recargas de AT&T, como tal no están habilitadas, sin embargo, pueden ocupar las recargas de Iusacell, Unefon, Nextel, ya que son la misma compañía operadora.
            </div>
            <div class="item">
              <a href="/productos/facturacion-electronica/necesitas-facturar/">¿Te urge Facturar? Mira lo que necesitas para empezar Aquí</a>
            </div>
            <div class="item">
              <a href="/productos/bill-pocket">Acepta PAGOS CON TARJETA en tu negocio con BillPocket</a>
            </div>
            <div class="item">
              <a href="/donde-comprar/tienda-virtual/mybusiness/">Adquiere una licencia de MyBusiness POS</a>
            </div>
            <div class="item">
              <a href="/productos/mybusiness/">¿Necesitas administrar tu negocio de Punto de venta?</a>
            </div>
            <div class="item">
              <a href="/soporte/video-tutoriales/mybusiness">¡Capacítate sin Costo y en cualquier lugar! VideoTutoriales.</a>
            </div>
            <div class="item">
              <a href="/soporte/preguntas-frecuentes">Mira las preguntas más Frecuentes y obtén respuestas.</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-container padding-lv5-ver">
      <div class="text-center">
        <h4 class="section-title">Nuestros productos y servicios</h4>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="padding-lv4-ver">
            <div class="row">
              <div class="col-sm-6">
                <img src="images/home/mybusiness-pic.png" alt="" class="img-responsive">
              </div>
              <div class="col-sm-6">
                <h2>MyBusiness POS</h2>
                <p>
                  Software de punto de venta y control administrativo para Windows. Con MyBusiness POS tiene al mejor software de punto de venta, con buen precio, funcionalidad, experiencia, robustez y facilidad de uso.
                </p>
                <a href="/productos/mybusiness" class="btn btn-primary">Cónoce más...</a>
              </div>
            </div>
          </div>
          <div class="padding-lv4-ver">
            <div class="row align-right-desktop">
              <div class="col-sm-6">
                <img src="images/home/facturacion-pic.png" alt="" class="img-responsive">
              </div>
              <div class="col-sm-6">
                <h2>Facturación Electrónica</h2>
                <p>
                  Olvídate de pagar servicios de mensajería o impresiones, ahora  puedes emitir y recibir tus facturas de forma totalmente electrónica desde nuestro sistema MyBusiness POS.
                </p>
                <a href="/productos/facturacion-electronica" class="btn btn-primary">Cónoce más...</a>
              </div>
            </div>
          </div>
          <div class="padding-lv4-ver">
            <div class="row">
              <div class="col-sm-6">
                <img src="images/home/tiempo-aire-pic.png" alt="" class="img-responsive">
              </div>
              <div class="col-sm-6">
                <h2>Venta de Tiempo Aire</h2>
                <p>
                  Aprende como vender tiempo aire con tu sistema MyBusiness POS e incrementa las ganancias de tu negocio sin mayor esfuerzo.
                </p>
                <a href="productos/tiempo-aire" target="_blank" class="btn btn-primary">Cónoce más...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-products text-center container padding-lv4-bottom">
    <div class="row">
      <div class="product col-sm-4 padding-lv4-bottom">
        <div class="icon text-center">
          <img src="images/home/pos-tools-home.png" width="68" alt="">
        </div>
        <h4>Servicios en la nube</h4>
        <p class="text-left body-xl-color font-size-sm">
          Es un conjunto de servicios que permiten respaldar y sincronizar la información de los puntos de venta en servidores seguros, con objeto de compartir información y establecer control hacia éstos.
        </p>
        <a href="/productos/servicios-en-la-nube" class="btn btn-primary">Cónoce más...</a>
      </div>
      <div class="product col-sm-4 padding-lv4-bottom">
        <div class="icon text-center">
          <img src="images/home/conabilidad-home.png" width="48" alt="">
        </div>
        <h4>Contabilidad electrónica</h4>
        <p class="text-left body-xl-color font-size-sm">
          Es la creación de un archivo XML que se enviará electrónicamente al SAT la parte contable de la empresa
        </p>
        <a href="/productos/contabilidad-electronica" class="btn btn-primary">Cónoce más...</a>
      </div>
      <div class="product col-sm-4 padding-lv4-bottom">
        <div class="icon text-center">
          <img src="images/home/bill-pocket-home.png" width="57" alt="">
        </div>
        <h4>Bill Pocket</h4>
        <p class="text-left body-xl-color font-size-sm">
          Billpocket les permite recibir pagos con tarjeta de crédito y débito con tan sólo conectar el lector a su smartphone o tablet.
        </p>
        <a href="/productos/bill-pocket" class="btn btn-primary">Cónoce más...</a>
      </div>
    </div>
  </div>

  <div class="testimonial container padding-lv4-ver">
    <div class="col-sm-4 testimonial-pic">
      <img src="images/home/testimonio.png" alt="" class="img-responsive">
    </div>
    <div class="col-sm-8 testimonial-content padding-lv4-top">
      <p class="lead">"MyBusiness POS ha reducido mi tiempo de trabajo y aumentado mis ingresos, <span class="primary-color">ahora paso más tiempo con mi esposa e hijos”</span></p>
      <span><strong>David Tellez</strong> - Tienda de Abarrotes Marquez</span>
    </div>
  </div>
</div>
